html {
   font-family: Helvetica, Monaco, monospaced;
}
body {
  min-height: 100vh;
}
* {
    box-sizing: border-box;
}

.menu-image {
 align: left;
 position: static;
 float: left;
}

.header-avatar {
  float: right;
}
.pagination {
  display: inline-block;
  align: center;
}
.title-button {
  border-radius: 50%;
  width: 1vw;
  height: 1vh;
  float: left;
  margin: 0 2vw 0 0;
  padding: 2rem;
  cursor:pointer;
}
.title-completed {
    background: #50D2C2;
}
.active-title {
  border: 5px solid #FFFFFF;
}

.title-non-completed {
    border: 1px solid #FFFFFF;
}

.main-header {
  background: #BA77FF;
  padding: 10px;
  min-height: 20vh;
  max-height: 20vh;
  color: #FFFFFF;
}
.header-text {
  text-align: center;
}
.disable-button {
  color: grey;
}
.main-content {
  background: #FFFFFF;
  min-height: 50vh;
  max-width: 100%;
  padding: 10px;
}
.card {
  margin: 5vh 5vw 5vh 5vw;
  height: 90vh;
  width: 90%;
  background: linear-gradient(-186deg, #8C88FF 60%, #FFFFFF 40%);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.card-text {
  color: #FFFFFF;
  text-align: center;
  padding: 3%;
  font-size: 28px;
  margin: 10vh 0vw 0vh 0vw;
}
.main-footer {
  background: #6563A4;
  padding: 10px;
  min-height: 20vh;
}
.col-4 {
  width: 33.33%;
}
button {
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  padding: none;
  cursor:pointer;
  overflow: hidden;
  outline:none;
  align: center;
  margin: 0% 0% 0% 0%;
  height: 10vh;

}
.card-status-image {
  height: 10vh;
  width: 10vw;
  margin: auto;
  display: block;
}

#tick-button {
  background-image: url( 'https://s3-us-west-2.amazonaws.com/s.cdpn.io/378995/tick.svg' );
  background-position: center;
}

#piechart-button {
  background-image: url( 'https://s3-us-west-2.amazonaws.com/s.cdpn.io/378995/piechart.svg' );
  background-position: center;
}
#linegraph-button {
  background-image: url( 'https://s3-us-west-2.amazonaws.com/s.cdpn.io/378995/linegraph.svg' );
  background-position: center;
}