* {
  box-sizing: border-box;
}
.col {
  float: left;
  margin-left: 20px;
  width: 8.33%;
  background: rgb(255, 150, 150);
}
.pagination-bar  {
  clear: both;
 }
.active {
  color: black;
  height: 1vh;
  margin: 0 1vw 0 0;
  font-size: 20;
  padding: 1rem;
  cursor:pointer;
}
.deactive {
  @extend .active;
  height: 2vh;
  cursor:none;
  background: grey;
}